Cython==0.22.1
amqp==1.4.6
anyjson==0.3.3
billiard==3.3.0.20
boto==2.38.0
bz2file==0.98
celery==3.1.18
cffi==1.1.2
click==4.1
cryptography==0.9.3
enum34==1.0.4
gensim==0.12.1
idna==2.0
ipaddress==1.0.14
kombu==3.0.26
ndg-httpsclient==0.4.0
numpy==1.9.2
pyOpenSSL==0.15.1
pyasn1==0.1.8
pycparser==2.14
pytz==2015.4
redis==2.10.3
requests==2.7.0
scipy==0.16.0
six==1.9.0
smart-open==1.2.1
spotipy==2.3.6
wsgiref==0.1.2
